body{
  background-color: black;
}

.container{
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.title{
  color: #638793;
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 2.5rem;
}
